#Albumimages-container{
  border-top: solid rgb(220, 220, 220) 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 5%;
  margin-top: 150px;
}
