#albums-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  color:white;
}


#all-albums{
  width: 100%;
  /* margin-left: 10%; */
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: rgb(211, 211, 211) solid 1px; */
}

#single-album{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: white solid 1px;
  margin: 5px;
  border-radius: 50px;
}

#album-titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
