.Nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: orange;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: white;
}

a{
  padding: 2em;
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

a.active{
  color: black;
}

ul{
  display: flex;
  align-items: stretch;
  /* justify-content:space-between; */
  list-style-type: none;
}


button {
  background-color: orange; /* Green */
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

#profileButton{
  position: relative;
  right: 200%;
  background-color:orange;
  color:white;
  position: relative;
  left: 10px;
}
